*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family:'Montserrat';
}

body{
  background:#f2f2f2;
  min-height:100vh;
  display:flex;
  justify-content:center;
  padding:30px;
  align-items:center;
}

h2{
  font-size:24px;
  font-weight:600;
  margin-bottom:20px;
}

.container-cadastro{
  width:900px;
}

.card{
  background:#fff;
  padding:25px;
  border-radius:6px;
  box-shadow:0 3px 8px rgba(0,0,0,0.08);
}

.box-camera{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.camera-box{
  width:100%;
  max-width:720px;
  height:480px;

  background:#000;
  border-radius:10px;

  position:relative;
  overflow:hidden;
}
video{
  width:100%;
  height:100%;
  object-fit:cover;
}
.face-guide{
  position:absolute;

  width:220px;
  height:260px;

  border:4px dashed white;
  border-radius:50%;

  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.botoes{
  margin-top:30px;
  margin-bottom: 15px;
  display:flex;
  gap:30px;
}

button{
  padding:8px;
  background:#0f5c8c;
  color:#fff;
  border:none;
  border-radius:4px;
  font-size:20px;
  font-weight:500;
  cursor:pointer;
  width:250px;
}

button:hover{
  background:#0C4A70;
}

.barra{
  width:300px;
  height:10px;
  background:#ddd;
  border-radius:6px;
  margin-top:10px;
}

.barra-preenchimento{
  height:10px;
  width:0%;
  background:#0f5c8c;
  border-radius:6px;
}

/* POPUP */

.popup{
  position:fixed;
  inset:0;

  background:rgba(0,0,0,0.5);

  display:flex;
  justify-content:center;
  align-items:center;

  z-index:1000;
}

.popup-conteudo{
  background:white;
  padding:30px;
  border-radius:10px;
  width:500px;
  text-align:center;
  box-shadow:0 4px 15px rgba(0,0,0,0.2);
}

.popup-conteudo h2{
  margin-bottom:18px;
  font-size:20px;
}

.popup-conteudo ul{
  list-style-position:inside;
  text-align:center;
  padding:0;
  margin:5px 0;
}

.popup-conteudo li{
  margin:4px 0;
}

.popup-botao{
  display:flex;
  justify-content:center;
  margin-top:20px;
}

p {
  font-weight: 500;
}

.barra-preenchimento{
  height:10px;
  width:0%;
  background:#e74c3c;
  border-radius:6px;
  transition: width 0.4s ease, background 0.4s ease;
}