<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Cadastro de Biometria Facial</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastroFotoNF.css') }}">

</head>

<body>
  <div id="popup-instrucoes" class="popup">

    <div class="popup-conteudo">

      <h2>Orientações para cadastro facial</h2>

      <ul>
        <li>Posicione o rosto de frente para a câmera</li>
        <li>Mantenha o rosto centralizado</li>
        <li>Ambiente bem iluminado</li>
        <li>Evite acessórios no rosto</li>
        <li>Permaneça imóvel durante a captura</li>
      </ul>
      <div class="popup-botao">
        <button onclick="iniciarCadastro()">Vamos lá!</button>
      </div>
    </div>

  </div>
  <div class="pagina-cadastro">

    <div class="container-cadastro">

      <div class="card box-camera">
        <h2>Cadastro de Biometria Facial</h2>
        <div class="camera-box">
          <video id="video" autoplay></video>
          <div class="face-guide"></div>
        </div>
        <div class="botoes">
          <button onclick="capturar()">Tirar foto</button>
        </div>
        <p id="contador">Foto 0 de 5</p>

        <div class="barra">
          <div class="barra-preenchimento" id="barra"></div>
        </div>

      </div>

    </div>

  </div>

  <script>
function iniciarCadastro(){

  fecharPopup()
  iniciarCamera()

}
    function fecharPopup() {
      document.getElementById("popup-instrucoes").style.display = "none"
    }

    let stream
    let fotosCapturadas = 0
    const maxFotos = 5

    const video = document.getElementById("video")
    const contador = document.getElementById("contador")
    const barra = document.getElementById("barra")


    function iniciarCamera() {

      navigator.mediaDevices.getUserMedia({ video: true })
        .then(s => {

          stream = s
          video.srcObject = stream

        })
        .catch(err => {

          alert("Erro ao acessar câmera")

        })

    }

 function capturar(){

  if(fotosCapturadas >= maxFotos){
    return
  }

  fotosCapturadas++

  contador.innerText = `Foto ${fotosCapturadas} de 5`

  const progresso = (fotosCapturadas / maxFotos) * 100
  barra.style.width = progresso + "%"

  const cores = [
    "#e74c3c",
    "orange",
    "#f1c40f",
    "#9acd32",
    "#2ecc71"
  ]

  barra.style.background = cores[fotosCapturadas - 1]

  if(fotosCapturadas === maxFotos){
    setTimeout(() => {
      alert("Cadastro concluído!")
      window.location.href = "../html/menu.html"
    }, 200)
  }

}

  </script>

</body>

</html>