<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Meu Perfil</title>

    <!-- Fonte Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/editarHorarios.css') }}">
</head>

<body>

    <form id="formCadastro">
        <div class="perfil-page">

            <section class="card">
                <h3>Jornada Semanal</h3>

                <!-- Tipo de jornada -->
                <div class="campo">
                    <label>Tipo de jornada</label>
                    <select id="tipoJornada" onchange="alternarJornada()">
                        <option value="padrao">Jornada padronizada</option>
                        <option value="manual">Edição manual</option>
                    </select>
                </div>

                <!-- JORNADA PADRONIZADA -->
                <div id="jornadaPadrao">

                    <div class="dias-semana">
                        <label><input type="checkbox"> Domingo</label>
                        <label><input type="checkbox"> Segunda</label>
                        <label><input type="checkbox"> Terça</label>
                        <label><input type="checkbox"> Quarta</label>
                        <label><input type="checkbox"> Quinta</label>
                        <label><input type="checkbox"> Sexta</label>
                        <label><input type="checkbox"> Sábado</label>
                    </div>

                    <div class="horario-padrao">

                        <div class="campo">
                            <label>início - Expediente</label>
                            <input type="time">
                        </div>

                        <div class="campo">
                            <label>início - Intervalo </label>
                            <input type="time">
                        </div>

                        <div class="campo">
                            <label>Término - Intervalo </label>
                            <input type="time">
                        </div>

                        <div class="campo">
                            <label>Término - Expediente </label>
                            <input type="time">
                        </div>

                    </div>

                </div>

                <div id="jornadaManual" style="display:none;">

                    <!-- Seleção de dias -->
                    <div class="dias-semana">
                        <label><input type="checkbox" onchange="toggleDia('domingo')"> Domingo</label>
                        <label><input type="checkbox" onchange="toggleDia('segunda')"> Segunda</label>
                        <label><input type="checkbox" onchange="toggleDia('terca')"> Terça</label>
                        <label><input type="checkbox" onchange="toggleDia('quarta')"> Quarta</label>
                        <label><input type="checkbox" onchange="toggleDia('quinta')"> Quinta</label>
                        <label><input type="checkbox" onchange="toggleDia('sexta')"> Sexta</label>
                        <label><input type="checkbox" onchange="toggleDia('sabado')"> Sábado</label>
                    </div>
                    <hr>

                    <!-- Dias (mesmo layout do padrão) -->

                    <div id="domingo" class="dia-manual" style="display:none;">
                        <h4>Domingo</h4>
                        <div class="horario-padrao">
                            <div class="campo">
                                <label>Início - Expediente</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Início - Intervalo</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Término - Intervalo</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Término - Expediente</label>
                                <input type="time">
                            </div>
                        </div>
                        <br>
                        <hr>
                    </div>
                    <div id="segunda" class="dia-manual" style="display:none;">
                        <h4>Segunda</h4>
                        <div class="horario-padrao">
                            <div class="campo">
                                <label>Início - Expediente</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Início - Intervalo</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Término - Intervalo</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Término - Expediente</label>
                                <input type="time">
                            </div>
                        </div> <br>
                        <hr>
                    </div>
                    <div id="terca" class="dia-manual" style="display:none;">
                        <h4>Terça</h4>
                        <div class="horario-padrao">
                            <div class="campo">
                                <label>Início - Expediente</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Início - Intervalo</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Término - Intervalo</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Término - Expediente</label>
                                <input type="time">
                            </div>
                        </div> <br>
                        <hr>
                    </div>
                    <div id="quarta" class="dia-manual" style="display:none;">
                        <h4>Quarta</h4>
                        <div class="horario-padrao">
                            <div class="campo">
                                <label>Início - Expediente</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Início - Intervalo</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Término - Intervalo</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Término - Expediente</label>
                                <input type="time">
                            </div>
                        </div> <br>
                        <hr>
                    </div>

                    <div id="quinta" class="dia-manual" style="display:none;">
                        <h4>Quinta</h4>
                        <div class="horario-padrao">
                            <div class="campo">
                                <label>Início - Expediente</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Início - Intervalo</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Término - Intervalo</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Término - Expediente</label>
                                <input type="time">
                            </div>
                        </div> <br>
                        <hr>
                    </div>
                    <div id="sexta" class="dia-manual" style="display:none;">
                        <h4>Sexta</h4>
                        <div class="horario-padrao">
                            <div class="campo">
                                <label>Início - Expediente</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Início - Intervalo</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Término - Intervalo</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Término - Expediente</label>
                                <input type="time">
                            </div>
                        </div> <br>
                        <hr>
                    </div>
                    <div id="sabado" class="dia-manual" style="display:none;">
                        <h4>Sábado</h4>
                        <div class="horario-padrao">
                            <div class="campo">
                                <label>Início - Expediente</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Início - Intervalo</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Término - Intervalo</label>
                                <input type="time">
                            </div>
                            <div class="campo">
                                <label>Término - Expediente</label>
                                <input type="time">
                            </div>
                        </div> <br>
                        <hr>
                    </div>


                </div>
                <!-- AÇÕES -->
                <div class="acoes">
                    <button type="button" class="btn-alterar" onclick="alterarDados()">Alterar Dados</button>
                    <button type="button" id="btnSalvar" class="btn-alterar" style="display:none;"
                        onclick="salvarAlteracoes()">Salvar</button>
                </div>

        </div>
    </form>

    <script>
        function alterarDados() {
            window.alert("clicou");
            document.querySelectorAll(".campo-editavel").forEach(el => {
                if (el.tagName === "INPUT") {
                    el.readOnly = false;
                } else {
                    el.disabled = false;
                }
            });
            document.getElementById("btnSalvar").style.display = "inline-block";
        }

        function bloquearCampos() {
            document.querySelectorAll(".campo-editavel").forEach(el => {

                if (el.tagName === "INPUT") {
                    el.readOnly = true;
                }

                if (el.tagName === "SELECT") {
                    el.disabled = true;
                }
            });
        }

        async function salvarAlteracoes() {

            const nome = document.getElementById("nome").value;

            const params = new URLSearchParams(window.location.search);
            const id = params.get("id");

            console.log("Enviando:", nome, id);

            const res = await fetch("/atualizar_usuario", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    id: id,
                    nome: nome
                })
            });

            const data = await res.json();

            if (data.status === "ok") {
                alert("Nome atualizado com sucesso!");
                bloquearCampos();
                document.getElementById("btnSalvar").style.display = "none";
                window.location.href = "/gerenciarUsuario";
            } else {
                alert("Erro ao atualizar");
            }
        }
    </script>

</body>

</html>