<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Meu Perfil</title>

   <!-- Fonte Montserrat -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- CSS Global -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/worksync-global.css') }}">
  <!-- CSS Específico -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editarUsuario.css') }}">
</head>

<body>

    <form id="formCadastro">
        <div class="perfil-page">

            <!-- DADOS PESSOAIS -->
            <section class="card">
                <h3>Dados Pessoais</h3>

                <div class="dados-pessoais">

                    <div class="campos">
                        <div class="campo">
                            <label>Nome</label>
                            <input type="text" id="nome" class="campo-editavel" value="{{ usuario.nome }}" readonly>
                        </div>

                        <div class="campo">
                            <label>Email</label>
                            <input type="text" id="email" class="campo-editavel" value="{{ usuario.email }}" readonly>
                        </div>

                        <div class="campo">
                            <label>Telefone</label>
                            <input type="text" id="telefone" class="campo-editavel" value="{{ usuario.telefone }}" readonly>
                        </div>

                        <div class="campo">
                            <label>CPF</label>
                            <input type="text" id="cpf" class="campo-editavel" value="{{ usuario.cpf }}" readonly>
                        </div>
                    </div>
                </div>
            </section>

            <!-- DADOS DO TRABALHADOR -->
            <section class="card">
                <h3>Dados do Trabalhador</h3>

                <div class="grid">

                    <div class="campo">
                        <label>Cargo</label>
                        <select id="cargo" class="campo-editavel" disabled>
                            <option value="">Selecione</option>
                            <option value="analista" {% if usuario.cargo == 'analista' %}selected{% endif %}>Analista</option>
                            <option value="assistente" {% if usuario.cargo == 'assistente' %}selected{% endif %}>Assistente</option>
                            <option value="Gerente" {% if usuario.cargo == 'Gerente' %}selected{% endif %}>Gerente</option>
                            <option value="coordenador" {% if usuario.cargo == 'coordenador' %}selected{% endif %}>Coordenador</option>
                        </select>
                    </div>

                    <div class="campo">
                        <label>Setor</label>
                        <select id="setor" disabled>
                            <option value="">Selecione</option>
                            <option value="rh" {% if usuario.setor == 'rh' %}selected{% endif %}>RH</option>
                            <option value="financeiro" {% if usuario.setor == 'financeiro' %}selected{% endif %}>Financeiro</option>
                            <option value="ti" {% if usuario.setor == 'ti' %}selected{% endif %}>TI</option>
                            <option value="comercial" {% if usuario.setor == 'comercial' %}selected{% endif %}>Comercial</option>
                        </select>
                    </div>

                    <div class="campo">
                        <label>Tipo de perfil</label>
                        <select id="tipo_perfil" disabled>
                            <option value="">Selecione</option>
                            <option value="admin" {% if usuario.tipo_perfil == 'admin' %}selected{% endif %}>Administrador</option>
                            <option value="funcionario" {% if usuario.tipo_perfil == 'funcionario' %}selected{% endif %}>Colaborador</option>
                        </select>
                    </div>

                    <div class="campo">
                        <label>Tipo de contrato</label>
                        <select id="tipo_contrato" disabled>
                            <option value="" >Selecione</option>
                            <option value="clt" 
                            {% if usuario.tipo_contrato == 'clt' %}selected{% endif %}>CLT</option>
                            <option value="pj" {% if usuario.tipo_contrato == 'pj' %}selected{% endif %}>PJ</option>
                            <option value="estagiario" {% if usuario.tipo_contrato == 'estagiario' %}selected{% endif %}>Estágio</option>
                            <option value="temporario" {% if usuario.tipo_contrato == 'temporario' %}selected{% endif %}>Temporário</option>
                        </select>
                    </div>

                    <div class="campo">
                        <label>Data de admissão</label>
                        <input type="date" id="data_admissao" 
                        value="{{ usuario.data_admissao}}" readonly>
                    </div>

                    <div class="campo">
                        <label>Carga horária semanal</label>
                        <input type="text" id="carga_horaria">
                    </div>

                </div>
            </section>

                </div>
                <!-- AÇÕES -->
                <div class="acoes">
                    <button type="button" class="btn-alterar" onclick="alterarDados()">Alterar Dados</button>
                    <button type="button" id="btnSalvar" class="btn-alterar" style="display:none;" onclick="salvarAlteracoes()">Salvar</button>
                </div>

        </div>
    </form>

    <script src="{{ url_for('static', filename='js/editarUsuario.js') }}"></script>

</body>
</html>