<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkSync | Recuperar Senha </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recuperacaoSenha.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

</head>

<body>

    <div class="login-container">

        <div class="login-header">
            <span>WORK</span>SYNC
        </div>

        <div class="login-body">
            <h3> Verificação em duas etapas </h3>
            <label> Digite o código de 6 digitos <br> enviado para seu e-mail.</label>
            <input type="text" id="email" placeholder="Token" maxlength="6">
        </div>
        <div class="login-body">
            <button onclick="enviarCodigo()">Enviar código</button>
            <a class="senha" href="/recuperacaoSenha">Voltar</a>
            <br>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    </div>

    <footer>
        Copyright WorkSync © 2026
    </footer>

</body>

</html>