<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>WorkSync</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
    <!-- esse é o certo-->
</head>

<body>

  <!-- TOPO -->
  <header class="topbar">
    <span class="logo">
      <spam>WORK</spam>SYNC
    </span>

    <div id="status"></div>

    <div id="relogio">
      <div id="hora"></div>
      <div id="data"></div>
    </div>

  </header>

  <!-- LAYOUT -->
  <div class="layout">

    <!-- MENU LATERAL -->
    <aside class="sidebar">
      <ul>
        <li><a href="/controleponto" target="conteudo">Controle de Pontos</a></li>
        <li><a href="/perfil" target="conteudo">Meu perfil</a></li>
        <li><a href="/cadastroUsuario" target="conteudo">Cadastro</a></li>
        <li><a href="/reconhecimentoFacial">Reg.ponto (funcional)</a></li>
        <li><a href="/cadastrarFoto">Cad. foto (funcional)</a></li>
        <li><a href="/cadastroFotoNF">Cad. foto (n-funcional)</a></li>
        <li><a href="/redefinicaoSenha">Redefinir senha</a></li>
        <li><a href="#">Relatórios</a></li>
        <li><a href="#">Férias</a></li>
        <li><a href="#">Configurações</a></li>

        <li class="divider"></li>

        <li><a href="/logout">Sair</a></li>
      </ul>
    </aside>

    <!-- CONTEÚDO CENTRAL (VAZIO) -->
    <main class="content">
      <iframe src="controleponto.html" name="conteudo" class="iframe-content" frameborder="0">
      </iframe>
    </main>

  </div>

  <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>

</html>