<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Cadastro da Foto</title>

    <!-- Fonte Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- CSS da página -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reconhecimento.css') }}">
</head>

<body>
    <div class="cadastrofoto">
        <section class="fundo-cadastro">

            <div class="quadrocima">
                <div class="registro">
                    <div class="camera"></div> <!-- REPRESENTATIVO -->
                    <button>Registrar ponto</button>
                </div>

                <div class="info">
                    <p class="tituloreg">Dados do registro</p>
                    <div class="dataehora">
                        <p>Data: __ / __ / __</p>
                        <p>Hora: __ : __ : __</p>
                    </div>
                </div>
            </div>

            <div class="orientacoes">
                <h4>Para a realização do reconhecimento facial, siga as orientações abaixo:</h4>

                <ul>
                    <li>Posicione o rosto próximo à câmera.</li>
                    <li>Permaneça de frente para a câmera.</li>
                    <li>Esteja em um ambiente com iluminação adequada.</li>
                    <li>Permaneça imóvel durante a captura da imagem.</li>
                    <li>Não utilize acessórios que prejudiquem a visualização do rosto.</li>
                </ul>
            </div>

        </section>
    </div>
</body>

</html>